[program:apiserver]
command=/usr/bin/node /home/{{ username }}/node_server.js
user={{ username }}
environment=HOME=/home/{{ username }},USER={{ username }}
redirect_stderr=true
stdout_logfile=/var/log/node_server.log
